body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-191px;
  width:633px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:794px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:271px;
  width:633px;
  height:794px;
  display:flex;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:545px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:402px;
  width:340px;
  height:545px;
  display:flex;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:153px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:436px;
  width:243px;
  height:153px;
  display:flex;
}
#u127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:317px;
  height:86px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:424px;
  width:281px;
  height:50px;
  display:flex;
  font-family:'Source Sans Pro Bold', 'Source Sans Pro Regular', 'Source Sans Pro', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:rgba(0, 0, 191, 0.882352941176471);
  text-align:center;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:418px;
  width:18px;
  height:20px;
  display:flex;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:600px;
  width:170px;
  height:52px;
  display:flex;
}
#u130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 191, 0.882352941176471);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Fett', 'Arial Standard', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:805px;
  width:300px;
  height:40px;
  display:flex;
  font-family:'Arial Fett', 'Arial Standard', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133 label {
  left:0px;
  width:100%;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:662px;
  width:300px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#8C8C8C;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
}
#u133_img.selected {
}
#u133.selected {
}
#u133_img.disabled {
}
#u133.disabled {
}
#u133_img.selectedDisabled {
}
#u133.selectedDisabled {
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:274px;
  word-wrap:break-word;
  text-transform:none;
}
#u133_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u134 label {
  left:0px;
  width:100%;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:692px;
  width:300px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#8C8C8C;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
}
#u134_img.selected {
}
#u134.selected {
}
#u134_img.disabled {
}
#u134.disabled {
}
#u134_img.selectedDisabled {
}
#u134.selectedDisabled {
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:274px;
  word-wrap:break-word;
  text-transform:none;
}
#u134_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u135 label {
  left:0px;
  width:100%;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:722px;
  width:300px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#8C8C8C;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
}
#u135_img.selected {
}
#u135.selected {
}
#u135_img.disabled {
}
#u135.disabled {
}
#u135_img.selectedDisabled {
}
#u135.selectedDisabled {
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:274px;
  word-wrap:break-word;
  text-transform:none;
}
#u135_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 191, 0.882352941176471);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Fett', 'Arial Standard', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:855px;
  width:300px;
  height:40px;
  display:flex;
  font-family:'Arial Fett', 'Arial Standard', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
